<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.application1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/androidicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Home"
            android:label="@string/home" />
        <activity
            android:name=".login"
            android:label="@string/login" />
        <activity
            android:name=".empty"
            android:label="@string/splashview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Event"
            android:label="Event" />
        <activity
            android:name=".EventEditor"
            android:label="EventEditor" />
        <activity
            android:name=".Cacultor"
            android:label="@string/cacultor" />
        <activity
            android:name=".Mark"
            android:label="Mark" />
        <activity
            android:name=".Display"
            android:label="Score" />
        <activity android:name=".Developer" />
        <activity
            android:name=".Note"
            android:label="Mark" />
        <activity
            android:name=".NoteDisplay"
            android:label="Score" />
        <activity android:name=".Reg" />
        <activity android:name=".Security.Loginpage"
            android:label="LoginPage"/>
        <activity android:name=".Security.RegisterPage"
            android:label="RegisterPage"></activity>
    </application>

</manifest>